$primary-color: #161e2f;
$primary-lighter: #242d41;
$primary-darker: #0e141f;

$secondary-color: #1785eb; //sidebar & header text color

$text-primary-color: #79b9f4;
$text-primary-lighter: #9dc8ef;
$text-sub-color: #6a81a4;
$text-sub-secondary-color: #526fa4;

$footer-text-color: #3c4e71;

$header-dark: rgb(36, 45, 65);
$header-light: #57688d;
$header-primary: rgb(23, 133, 235);
